language: ruby
sudo: false

before_install:
  - gem update --system
  - gem update bundler

rvm:
  - 2.0
  - 2.1
  - 2.2
  - 2.3.3
  - 2.4.0
##  - ruby-head

addons:
  apt_packages:
    - libgmp3-dev

branches:
  only:
    - master

script:
  - bundle exec rake test
  - bundle exec rubocop

