language: ruby
sudo: false
dist: trusty

addons:
  apt:
    packages:
      - texlive-fonts-recommended
      - texlive-latex-extra
      - texlive-latex-recommended
      - dvipng

before_install:
  - gem update bundler

rvm:
  - 2.1
  - 2.2.10
  - 2.3.8
  - 2.4.5
  - 2.5.3
##  - ruby-head

branches:
  only:
    - master
