language: ruby
sudo: false
dist: trusty

os:
  - linux
  - osx

addons:
  apt:
    packages:
      - texlive-fonts-recommended
      - texlive-latex-extra
      - texlive-latex-recommended
      - dvipng

before_install:
  - |-
    gem update --system
    gem install bundler
    gem install epubcheck-ruby

script:
  - ruby bin/review-init hello && cd hello && ruby ../bin/review-epubmaker config.yml && epubcheck book.epub
  - cd ..
  - ruby bin/review-init hello2 --epub-version 2 && cd hello2 && ruby ../bin/review-epubmaker config.yml && epubcheck book.epub

rvm:
  - 2.4.5
  - 2.5.3
  - 2.6.0
##  - ruby-head

branches:
  only:
    - master
