<div class="titlepage">
<h1 class="tp-title"><%= h(@config.name_of('booktitle')) %></h1>
<% if @config['subtitle'] %>
<h2 class="tp-subtitle"><%= h(@config.name_of('subtitle')) %></h2>
<% end %>
<% if @config['aut'] %>
<h2 class="tp-author"><%= h(@config.names_of('aut').join(ReVIEW::I18n.t('names_splitter'))) %></h2>
<% end %>
<% if @config['pbl'] %>
<h3 class="tp-publisher"><%= h(@config.names_of('pbl').join(ReVIEW::I18n.t('names_splitter'))) %></h3>
<% end %>
</div>
