Source: review
Section: text
Priority: optional
Maintainer: Kenshi Muto <kmuto@debian.org>
Build-Depends: debhelper (>= 7.0.50~), quilt (>= 0.46-7~)
Standards-Version: 3.9.1
Homepage: http://github.com/kmuto/review
Vcs-Git: https://github.com/kmuto/review.git

Package: review
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby
Recommends: zip
Suggests: ptex-bin, okumura-clsfiles, libmathml-ruby
Description: easy-to-use digital publishing system for Japanese books and ebooks
 Re:VIEW is a digital publishing system for books and ebooks.
 It is aimed professional Japanese editorial use.
 .
 Re:VIEW generates HTML, LaTeX, plain text, and Adobe InDesign XML
 from a text file with simple and extensible tags.
 .
 This package provides the builders for EPUB and PDF.
